body {
  margin: 0;
  font-family: "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", sans-serif;
  //   padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1024px;
  background: #3f1e0d;
}

nav {
  height: 66px;
  background: url("../images/nav/nav-bg.png") repeat-x;
  text-align: center;
  font-size: 18px;

  .nav-menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 20px;
      line-height: 66px;
      img {
        vertical-align: middle;
      }
      span {
        margin-left: 10px;
      }
      a {
        color: #4c2705;
        text-decoration: none;
      }
    }
  }
}

.row {
  background: url("../images/content-bg.png");
  padding: 20px 10px;

  main {
    padding: 30px;
    width:100%;
    .tabs {
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      .tab1,
      .tab2,
      .tab3 {
        padding: 5px;
      }
      .tab1 {
        background-color: #fc4d00;
      }
      .tab2 {
        background-color: #74bf00;
      }
      .tab3 {
        background-color: #00b0ef;
      }
      & > li {
        display: inline-block;
      }
    }

    .tab-content {
      background-color: #ff8a15;
      color: white;
      padding: 18px 30px;
    }
    .tab-content-list {
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      & > li {
        line-height: 28px;
      }
    }
  }
}

.aside-menu {
  .level1 {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    & > li {
      width: 203px;
      height: 43px;
      line-height: 43px;
      background: url("../images/btn/button-bg.png");
      margin-bottom: 5px;
      img {
        vertical-align: middle;
        margin: 0 10px;
      }
    }
  }

  .level2 {
    background-color: #ac5c00;
    color: white;
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: -8px;
  }
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex-basis: 20%;
//   padding: 10px;
}

footer {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 150px;

  .info {
    display: inline-block;
    margin-left: 30px;
  }
}
